.bg-overlay {
  width: 100%;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(25 210 175 / 54%),
      rgba(15 206 233 / 69%)
    ),
    url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=821&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.searc {
  width: 300px;
}

@media screen and (max-width: 600px) {
  .searc {
    margin: auto;
    width: 150px;
  }
}
